{% extends "base.html" %}
{% block title %}Transactions{% endblock %}

{% block content %}
<div class="container">
  <h2>Transactions</h2>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Category</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
    {% for transaction in object_list %}
      <tr>
        <td>{{ transaction.trans_date }}</td>
        <td>{{ transaction.description }}</td>
        <td>{{ transaction.category }}</td>
        <td><a href="{% url 'budget:transaction-detail' transaction.pk %}">{{ transaction.amount}}</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
